.body {
  /*max-width:1000px !important;*/
  margin: 0px auto;
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  /*font-family: "Avenir LT W01_55 Roman1475520",sans-serif;*/
  overflow: none;
  font-family: 'Raleway', sans-serif !important;
}
.container {
  max-width: 1200px !important;
  background-color: #f8f8f8 !important;
}
.main-container{
  box-shadow: 0px 0px 20px 1px lightgray;
  font-family: 'Raleway', sans-serif;
  /*font-family: 'Lato', sans-serif;*/
}
.header-row {
  position: relative; 
  height: 128px; 
  background-color: #f8f8f8;
}
.footer {
  /*height: 60px;
  line-height: 60px;*/
  background-color: #1d243e !important; /* logo color*/
  color: white;
  padding: 10px 16px;
}
.footer2 {
  padding: 10px 16px;
}
.footer2 span {
  padding: 0px 10px 0px 0px;
}
.bold {
  font-weight: bold;
}
.home-body {
/*margin-top: 130px;*/
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  min-height: 300px;
}
.navbar-default {
  /*background-color: #0c407a;*/
}
.navbar-default .navbar-nav li a {
  font-weight: 500;
}
.no-border {
  border: none;
}
.col-profile {
  /*box-shadow: 0px 0px 14px -3px #0c407a;
  padding: 10px;*/
}
.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}
.navbar-default .navbar-nav>li>a {
  color: #ffffff;/*#0c407a*/
  font-size: 16px;
}
.navbar-default .navbar-nav>li>a:hover {
  color: white;
  background-color: gray;
}
.container.header-container {
  background-color: #1d243e !important;
}
.affix {
  top:0;
  /*max-width: 1100px !important;*/
  z-index: 1000 !important;
  /*box-shadow: 0 6px 20px -4px #bfbfbf;*/
}
@media (max-width: 768px) {
  .affix {
    width: 100%;
  }
}
.affix-top {
  z-index: 1000 !important;
}
.affix ~ .container {
  position: relative;
  top: 50px;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu {
    margin-top: 0px;
}
.relative {
  position: relative;;
}
.absolute {
  position: absolute;
}
.sub-menu-drop {
  border: none;
  border-radius: 0;
  padding: 0;
  background-color: rgb(100, 31, 37); /*rgb(100, 100, 100);*/
}
.sub-menu-nav li a {
  padding: 8px 15px;
  color: white !important;
}
ul.nav.navbar-nav.sub-menu-nav {
  float: none;
  text-align: center;
  /*height: 30px;*/
  display: inline-block;
}
.tab-pane.fade.active{
  padding: 10px;
  /*background-color: #b9c4ec; #c5dcf1
  border-radius: 5px;*/
}
.nav-pills>li.active>a {
  background-color: #384577 !important;
}
.tab-pane span {
  color: #104579;
  font-weight: bold;
}
.tab-pane img {
  border-radius: 5px;
}
.navbar-default .navbar-toggle {
    border-color: #ddd;
    background-color: #ddd;
}
.navbar-default .navbar-collapse {
  border-color: #1d243e;
}
/*ul.nav.navbar-nav.sub-menu-nav {
  padding-left: 26px;
}*/
.logo-text {
    position: absolute;
    top: 6px;
    left: 33px;
    font-size: 18px;
    font-weight: bold;
    color: white !important;
    text-decoration: none;
}


/*.navbar-nav {
    width: 100%;
    text-align: center;
    > li {
      float: none;
      display: inline-block;
    }
  }*/

.sub-menu-nav div {
  display: inline-block;
  color: white;
  padding: 10px;
}
.sub-menu-nav div a {
  color: white;
  padding: 10px;
  text-decoration: none;
}
@media (max-width: 768px) {
  .sub-menu-nav div {
    display: block;
    text-align: left;
    padding-left: 40px;
  }
}
.sub-menu-nav div:hover {
  background-color: grey !important;
  cursor: pointer !important;
}